DATABASE_URL="postgresql://postgres:mysecretpassword@localhost:5432/postgres?sslmode=disable"
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=password_nextauth 
GOOGLE_ID = 
GOOGLE_SECRET = 
GOOGLE_API_KEY= 