@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-bg: #f1f1f1;
  --scrollbar-thumb: #888;
  --scrollbar-thumb-hover: #555;
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --scrollbar-bg: #121212;
    --scrollbar-thumb: #888;
    --scrollbar-thumb-hover: #555;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-white text-black dark:bg-[#121212] dark:text-white;
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}